<html>
    <link rel="stylesheet" href="/styles.css">

    <footer>
        <div class="footer-content">
            <p>
                Copyright NinerMatch 2025 &copy;
            </p>
        </div>
    </footer>
</html>