<!DOCTYPE html>
<html>
    <head>
        <title>NinerMatch</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>    
<header>
    <div class="header-title">
        <h2><a href="/">NinerMatch</a></h2>
    </div>
    <div class="header-nav">
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/roommate">Find a Roommate</a></li>
            <li><a href="/dorm">Review Student Living</a></li>
            <%if(!user){%>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/signup">Signup</a></li>
            <%} else{%>
                <li><a href="/profile"><%=user.firstName + ' ' + user.lastName%></a></li>
                <li><a href="/user/logout">Logout</a></li>
            <%}%>
        </ul>
        </nav>
    </div>
  </header>
  