<!DOCTYPE html>
<html>
    <head>
        <title>NinerMatch</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>    
<header>
    <div class="header-title">
        <h2><a href="/">NinerMatch</a></h2>
    </div>
    <div class="header-nav">
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/roommate">Find a Roommate</a></li>
            <li><a href="/dorm">Review Student Living</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        </nav>
    </div>
  </header>
  