<html>
  <!-- //comment -->
  <head>
    <title>NinerMatch</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="main-content">

      <h2 class="welcome-title">Welcome to NinerMatch</h2>
      <div class="button-container">
        <div class="top-buttons">
          <a href="/roommate">
            <button>Find a Roommate</button>
          </a>      
          <a href="/dorm">
            <button>Review Student Living</button>
          </a>
        </div>
        <a href="/profile">
          <button class="bottom-button">Your Profile</button>
        </a>       
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>