<html>
  <head>
    <title>NinerMatch</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="main-content">
      <h1>Welcome to my landing page!</h1>
      <p>This is rendered from the server using EJS.</p>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>