<%- include('../partials/header') %>

<h2>Select a Residence Hall</h2>
<ul>
  <% dorms.forEach(dorm => { %>
    <li>
      <a href="/dorms/<%= dorm._id %>"><%= dorm.name %></a>
    </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>